.rabbit-logo {
    height: 70px;
    width: 100px;
    display: block;
    margin: 10px;
}
.head {
    position: absolute;
    height: 80px;
    top: 10px;
}

.search-bar {
    height: 40px;
    width: 600px;
    display: block;
    position: absolute;
    top: 23px;
    left: 140px;
    border-radius: 200px;
    border-color: orange;
}

.cat-logo {
    width: 45px;
    height: 35px;
    position: absolute;
    left: 625px;
    top: 26px;
}

.cat-logo-too {
    width: 45px;
    height: 35px;
    position: absolute;
    left: 680px;
    top: 25px;
}

.logos-at-right {
    position: absolute;
    top: 30px;
    width: 100%;
}

.logo-1, .logo-2, .logo-3 {
    width: 42px;
    height: 42px;
    float: right;
}

.toolbar {
    position: absolute;
    top: 105px;
    width: 100%;
    height: 40px;
    left: 145px;
}

.toolbar-text-left {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    background-color: white;
}

.toolbar-text-left:hover {
    color: blue;
    border-bottom: blue solid;
}

.top-head-page {
    border-bottom: grey 1px solid;
}

.horizontal-line {
    color: #eeeeee;
    position: relative;
    top: 130px;
}

.content {
    width: 600px;
    position: relative;
    left: 80px;
}

.speed-text {
    position: relative;
    top: 130px;
    font-size: 14px;
    color: #999999;
    left: 90px;
    margin: 0;
    padding: 0;
}

.results-text, .descript-text, .url-text {
    position: relative;
    top: 150px;
    margin-bottom: 0;
    margin-top: 0;
}

.results-text {
    color: blue;
    font-size: 18px;
}

.descript-text {
    color: #999999;
    font-size: 14px;
    margin-bottom: 18px;
}

.url-text {
    color: #19db23;
    font-size: 14px;
}

.footer {
    height: 350px;
    width: 100%;
    margin: auto;
    position: absolute;
    bottom: -350px;
    margin-left: 80px;
}

.footer-suggestions {
    height: 115px;
    margin: auto;
}

.footer-suggestions-captions {
    font-size: 20px;
}

.footer-suggestions-blue-text {
    color: blue;
    font-size: 15px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.right {
    position: absolute;
    left:180px;
}

.cat {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
}

.long-cat-M {
    color: blue;
}

.long-cat-E {
    color: yellow;
}

.long-cat-O {
    color: red;
}

.long-cat-W {
    color: green;
}

.long-cat {
    height: 50px;
}

.footer-numbers {
    height: 50px;
    display: block;
    margin-left: 100px;
}

.footer-numbers-actual {
    color: blue;
    font-size: 14px;
    margin: auto;
}

.footer-bar {
    float: bottom;
    height: 50px;
    border: black;
    width: 100%;
    margin: 0;
    position: relative;
    left: -65px;
    background-color: #eeeeee;
}